.content-box {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
}

.header {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 20rem;
}

.menu-box {
    flex-direction: column;
    justify-content: center
}

.menu-item {
    margin: 0;
    text-align: center;
}
.row {
    flex-direction: column;
    height: auto;
}

.text-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    height: 30rem;
}

.image-div {
    width: 100%;
}
h2 {
    font-size: 30pt;
}